<launch>
	<master auto="start"/>
	
	<node name="joy_node" pkg="joy" type="joy_node" output="screen" >
		<param name="~deadzone" type="double" value="0.2"/> 
		<param name="~autorepeat_rate" type="double" value="20."/> 
		<!--    <param name="~dev" type="str" value="/etc/robot_devices/joy0"/> -->
		<param name="~dev" type="str" value="/dev/input/js0"/>	
	</node>
	<node name="joy2twist" pkg="human_interface" type="joy2twist.py" output="screen" >
		<remap from="/cmd_vel" to ="/desired_cmd_vel"/>
	</node>

	<node name="capybara_name" pkg="capybara_running_wild" type="capybara_motion.py" output="screen"/>
	<node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node">
		<param name="frame_id" value="/base_scan"/>
	</node>
	
	<!--node pkg="emergency_stop" name="emerg" type="emergencyStop" args="80" output="screen">
		<remap from="/base_scan" to="/scan"/>
	</node-->
	
	<node name="link_broadcaster_0" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_footprint /laser_cose 1000" />
 </launch>
